<h1>GSB frais (WPF)</h1>

<h2>Introduction</h2>
<br>
<p>
    En se basant sur un programme déjà existant développé en
    <a href="https://learn.microsoft.com/fr-fr/visualstudio/get-started/csharp/tutorial-wpf?view=vs-2022" target="_blank"> WPF</a>
    (développement interface en C#),une base de données
    et une API REST développé en PHP, il nous a été demandé de lui apporter des améliorations afin d'être
    en adéquation avec la demande des utilisateurs.
    Dans la continuité de la première mission, elle s'est effectuée en groupe de 3 personnes.
</p>
<div class="Brique_mission_gsb_rapport">
    <h2>La mission</h2>
    <p>
        En se basant sur un modèle existant, nous avons dû effectuer les modifications demandées afin d'améliorer le programme.

        <br>
        Cette mission s'est découpée en plusieurs parties :
    </p>
    <h3>Ajout d'un rapport</h3>
    <ul>
        <li>La secrétaire demande à ajouter un rapport</li>
        <li>Le système retourne un formulaire permettant d’ajouter un rapport,
            avec une liste de visiteurs disponibles, des listes permettant d’obtenir un médecin,
            une liste de famille de médicaments et des champs de saisie</li>
        <li>La secrétaire sélectionne les informations, effectue les saisies et valide</li>
        <li>Le système enregistre les informations</li>
    </ul>
    <h3>Modifier un rapport</h3>
    <ul>
        <li>La secrétaire demande à modifier un rapport</li>
        <li>Le système retourne un formulaire de recherche du rapport avec une sélection de dates et de visiteurs</li>
        <li>La secrétaire sélectionne les dates et le visiteur</li>
        <li>La secrétaire sélectionne les dates et le visiteur</li>
        <li>Le système retourne les rapports concernant le visiteur et la date</li>
        <li>La secrétaire sélectionne un rapport parmi ceux présenté</li>
        <li>Le système retourne un formulaire avec les informations du rapport sélectionné</li>
        <li>La secrétaire effectue des modifications (bilan et motif)</li>
        <li>Le système enregistre les mises à jour</li>
    </ul>
    <h3>Visualiser un rapport</h3>
    <ul>
        <li>La secrétaire demande à visualiser des rapports</li>
        <li>le système retourne un formulaire avec des listes de filtres</li>
        <li>La secrétaire sélectionne les informations dans les listes</li>
        <li>Le système génère un fichier XML avec les différents rapports concernés</li>
    </ul>
</div>
<div class="Brique_mission_gsb_rapport">
    <h2>La répartition</h2>
    <p>
        Afin de répondre au mieux à l'ensemble de la mission tout en le faisant de la façon
        la plus efficace, nous nous sommes réparti les tâches. <br>
        J'ai effectué la modification de rapport.
    </p>
    <h2>Azure DevOps</h2>
    <p>
        Afin de définir au mieux la répartition des tâches ainsi qu'un Repos pour partager nos avancées,
        nous avons utilisé Azure DevOps. Une date butoir à été fixée au 26 mai.
    </p>
    <p>Répartition des tâches sur Azure DevOps</p>
    <img src="assets/GSB_Rapport_repartition.png" alt="Répartition des tâches sur Azure DevOps"><br>
    <p>Détails des tâches sur Azure DevOps</p>
    <img src="assets/GSB_Rapport_details.png" alt="Détails des tâches sur Azure DevOps">
</div>
<div class="Brique_mission_gsb_rapport">
    <h2>Ma mission</h2>
    <h3>Début</h3>
    <p>
        Pour commencer, il m'a tout d'abord fallu créer le composant en XAML et C# afin d'avoir une base de travail.
        <br>
        Une fois cela fait, je les ai connectés au programme déjà existant.
    </p>
    <img src="assets/Ajout_Rapport_composant.png" alt="Ajout du composant">
    <img src="assets/Ajout_Rapport_WPF_main.png" alt="Ajout du lien sur XAML Main">
    <img src="assets/Ajout_Rapport_CS_main.png" alt="Ajout du lien sur C# Main">

    <h3>L'interface</h3>
    <p>
        Afin de respecter au mieux l'interface demandée j'ai effectué plusieurs StackPanel et y ai ajouté 2 comboBox pour
        le filtrage des dates et visiteurs, un DataGrid pour l'affichage des résultats (chaque colonne a été binde)
        ainsi que deux TextBox pour permettre à l'utilisateur de modifier le bilan et le motif (les deux binde aussi)
    </p>
    <img src="assets/Ajouter_Rapport_XAML.png" alt="Page XAML de Ajout Rapport">
    <h3>Le back</h3>
    <p>
        Pour la partie C#, j'ai effectué une initialisation dans laquelle une requête est effectuée permettant de récupérer l'ensemble
        des visiteurs afin que l'utilisateur puisse le séléctionner dans le premier filtre. <br>
        Une fois cela effectué, l'utilisateur pourra sélectionner dans le deuxième filtre la date voulue parmi celles disponibles.
        Les dates sont récupérées grâce à une requête puis sont triées dans l'ordre croissant et les doublons supprimés. <br>
        A la sélection de la date, l'ensemble des rapports sera affiché dans le DataGride après avoir été récupéré par
        une nouvelle requête. <br>
        Pour terminer, lors de la sélection d'un des rapports, il sera possible pour l'utilisateur de modifier aussi bien le motif que
        le bilan dans la TextBox et valider. Une fois cela fait, les informations sont récupérées puis envoyées à l'API REST afin qu'
        elles soient sauvgardées dans la base de données.
    </p>
    <img src="assets/Ajouter_Rapport_Init_Envoie_Modif_CS.png" alt="L'initialisation et l'envoi à l'API REST">
    <img src="assets/Ajouter_Rapport_DataGrid_CS.png" alt="Requête pour remplir le DataGrid">

    <h3>Les petits plus qui changent tout</h3>
    <p>
        Dans le but d'améliorer l'application, plusieurs choses ont été ajoutées :
    </p>
    <ul>
        <li>Des try and catch ont été ajoutés afin que l'application ne crash pas.</li>
        <li>Dans les catch, un trace a été ajouté pour permettre de tracer les erreurs pour le développeur.</li>
        <li>Le ticket envoyé à chaque requête est récupéré puis utilisé pour remplacer celui déjà existant
            permettant ainsi à la sercétaire de continuer à effectuer des actions sur GSB Rapport  </li>
    </ul>
    <h3>Le résultat</h3>
    <img src="assets/Ajouter_Rapport_presentation_final.png" alt="Présentation finale">
    <img src="assets/Ajouter_Rapport_Affichage_Rapport.png" alt="Affichage du rapport">
    <img src="assets/Ajouter_Rapport_Selection_Rapport.png" alt="Sélection du rapport">
    <img src="assets/Ajouter_Rapport_Modification.png" alt="Modification du rapport">
    <img src="assets/Ajouter_Rapport_Modifier.png" alt="Rapport modifié avec succès">
</div>