<h1>Mon projet d'avenir !!!</h1>

<div class="Brique_projet_pro">
  <h2>Une continuité en école d'ingénieur</h2>

  <p>
    Dans le but de continuer dans mes études, j'ai décidé de postuler à l'ESIEE Paris afin
    de suivre un cursus d'ingéneur dans la filière Informatique & Applications - Ingénierie 3D et technologie des médias
  </p>
  <img src="assets/ESIEE_Paris.png" alt="Logo école" class="img_projet_pro">
  <p>
    L'entrée dans cette filière me permettra de pouvoir ouvrir et d'approfondir mes connaissances sur les différents langages de programmation
    ainsi que d'acquérir de nombreuses autres compétences afin d'être préparé au mieux à ma future activité professionnelle.
  </p>
  <p>
    Ci-dessous les matières étudiées :
  </p>
  <img src="assets/schema-informatique-et-applications.jpg" alt="shemas des cours suivis" class="img_projet_pro">
</div>

