<h1>Participation à la mise à jour d'un composant de la plateforme</h1>
<h2>Introduction</h2>
<p>
  Afin de répondre à cet objectif il m'a fallu acquérir de nombreuses compétences aussi bien en front-end qu'en back-end :
</p>
<ul>
  <li>Concernant le front-end, j'ai dû apprendre et comprendre le framework Angular TypeScript.</li>
  <li>Pour le back-end ce fut en C# avec l'utilisation du package fast endpoint.</li>
  <li>En ce qui concerne les données utilisées, les tâches qui m'étaient assignées et les commits, tout cela a été effectué sur Azur DevOps, plateforme que je ne connaissais pas.
  </li>
</ul>

<div class="brique_mission2">
  <h2>Front</h2>
  <p>
    Le composant front de la plateforme de Crosscut que j'ai fait devait être développé à l'aide
    du framework d'Angular TS.
    <br>
    Comme je ne possédais aucune connaissance concernant ce framework ni le TypeScipt, j'ai commencé par effectuer le tutoriel
    <a href="https://angular.io/tutorial/tour-of-heroes" target="_blank">Tour of heroes</a>. Il m'a perrmis d'acquérir la majeure partie des
    compétences nécessaires au développement :
  </p>
  <ul>
    <li>Création d'un projet angular.</li>
    <li>La notion de composant, service et route.</li>
    <li>L'utilisation du TypeScipt.</li>
    <li>La récupération de données provenant d'un Serveur/Repos.</li>
    <li>L'utilisation d'un nouveau type de variable, les "observable".</li>
  </ul>
  <p>Ci-dessous le résultat du tutoriel</p>
  <img src="assets/liste_tour_of_heros.png" alt="liste héros" class="img_front_site">
  <img src="assets/dash_tour_of_heros.png" alt="Tableau de bord" class="img_front_site">

  <p>Ci-dessous un extrait du code utilisé</p>
  <img src="assets/route_tour_of_heros.png" alt="route typeScript" class="img_front">
  <img src="assets/service_tour_of_heros.png" alt="service TypeScript" class="img_front">
  <img src="assets/Html_tour_of_heros.png" alt="Boucle html angular" class="img_front">

</div>

<div class="brique_mission2">
  <h2>Back</h2>
  <p>
    La partie back-end du composant était développée en C#. Dans la continuité de la première mission
    de mon stage, j'ai effectué un nouveau tutoriel concernant la création d'une API
    développée grâce au package <a href="https://fast-endpoints.com/" target="_blank">Fast endpoint</a>.
  </p>
  <p>
    Afin de pouvoir développer cette API, il m'a fallu acquérir des notions d'injection, d'interface,
    la gestion des cross-origins (CORS) ainsi qu'une bonne connaissance de l'héritage.
  </p>
  <img src="assets/EndPoint_Connector.png" alt="End point GetConnector code" class="img_front">
  <img src="assets/Methode_getConnector.png" alt="La Méthode de GetConnector" class="img_front">
  <img src="assets/Interface.png" alt="Interface des methodes" class="img_front">

  <p>
    En plus du développement de l'API, j'ai aussi créé le swagger afin de permettre
    à toute personne souhaitant faire le front-end de pouvoir avoir accès aux URL
    de l'API REST.
  </p>
  <img src="assets/Code_Swagger.png" alt="Code du swagger" class="img_front">
  <img src="assets/Interface_Sawgger.png" alt="Interface du swagger" class="img_front">
  <img src="assets/API_rest_Swagger.png" alt="Information d'un URL" class="img_front">
</div>

<div class="brique_mission2">
  <h2>Développement du composant </h2>
  <p>

    Afin de pouvoir avoir accès aux données que je devais utiliser ainsi que d'avoir connaissance
    des tâches qui m'ont été confiées, j'ai effectué plusieurs tutoriels sur Microsoft Learn concernant
    l'utilisation d'Azure DevOps.
    <br>
    Les notions traitées étaient :
  </p>
  <ul>
    <li>Création du compte ainsi que du container</li>
    <li>Utilisation du board ainsi que du Repos</li>
    <li>Gestion des données (Table et blob)</li>
  </ul>
  <p>
    Une fois ces dernières notions acquises, j'ai pu développer l'ensemble du composant tout en
    utilisant les données de la plateforme ainsi que transmettre l'ensemble de mon travail au
    reste de l'équipe.
  </p>
  <img src="assets/liste_connecteur_platforme.png" alt="Mon composant sur la platforme" class="img_front">
  <p>
    Les détails du composant étant écrits en Markdown, il m'a été essentiel de comprendre
    ce langage ainsi que de savoir comment le transformer en HTML.
  </p>
  <img src="assets/Detail_connecteur.png" alt="Les détail d'un connecteur" class="img_front">
</div>
<h2>Les autres notions</h2>
<p>
  De nombreuses autres choses m'ont été confiées lors de cette mission qui n'ont pas été
  développées ici.
</p>
<ul>
  <li>Création d'un document README en Markdown</li>
  <li>Aprentissage et utilisation du logiciel <a href="https://git-fork.com/" target="_blank"> GitFork</a></li>
  <li>Utilisation du logiciel <a href="https://www.postman.com/" target="_blank"> Postman </a> afin de créer des requêtes et ainsi utiliser l'API REST développée</li>
</ul>








<div class="nav-stage">
  <div class="previews_stage">
    <a routerLink="/missionStage">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15m0 0l6.75 6.75M4.5 12l6.75-6.75" />
      </svg>
      Mission 1
    </a>
  </div>
</div>
