<h1>GSB Frais (laravel)</h1>

<h2>Introduction</h2>
<br>
<p>
  En se basant sur un programme développé en laravel (framwork basé sur une architecture MVC) et une base de données
  déja créée, il nous était demandé de le
  modifier afin de lui apporter des améliorations. Afin de se rapprocher au plus près du milieu professionel, cette
  mission a été effectuée
  par une équipe de 3 personnes.
</p>
<img src="assets/Image_Laravel.jpeg" alt="Schéma Laravel" class="img_gsb">
<div class="Brique_mission_gsb">
  <h2>La mission</h2>
  <p>
    En se basant sur un modèle existant, nous avons dû effectuer les modifications demandées afin d'améliorer le programme.
    <br>
    Cette mission s'est découpée en 6 parties :
  </p>
  <ul>
    <li>L’utilisateur demande à supprimer un visiteur</li>
    <li>Le système retourne la liste des visiteurs médicaux (noms et prénoms)</li>
    <li>L’utilisateur sélectionne le visiteur à supprimer</li>
    <li>Le système vérifie si le visiteur est concerné par des fiches de frais</li>
    <li>L’utilisateur confirme la suppression</li>
    <li>Le système supprime de l’application toutes les données relatives au visiteur sélectionné
      et enregistre ces données dans des fichiers d’archivages.</li>
  </ul>
</div>
<div class="Brique_mission_gsb">
  <h2>Répartition</h2>
  <p>
    Afin d'être le plus efficace, nous nous sommes répartis les tâches :
  </p>
  <ul>
    <li>Une personne s'est occupé de la création des requêtes SQL ainsi que de la création des tables.</li>
    <li>Une autre des vues (organisation et création des formulaires).</li>
    <li>Je me suis occupé de la création des routes ainsi que du contrôleur.</li>
  </ul>
</div>
<div class="Brique_mission_gsb">
  <h2>Le Résultat</h2>
  <h3>La base de données</h3>
  <p>Création de 2 tables d'archivage au sein d'une base déjà existante</p>
  <img src="assets/bdd_gsb.png" alt="base de données avec archivage" class="img_bdd">
  <p>Création de fonctions dans le PDO afin de pouvoir archiver puis supprimer les utilisateurs et leurs fiches de frais</p>
  <img src="assets/pdo_gsb.png" alt="PDO de GSB">
  <p>Ajout de la fonction supprimer au contrôleur</p>
  <img src="assets/controller_gsb.png" alt="Contrôleur GSB">
  <p>Création de routes afin de lier les vues au contrôleur</p>
  <img src="assets/root_gsb.png" alt="les nouvelles routes">
  <p>Ci-dessous ce à quoi ressemble l'application GSB frais modifiée</p>
  <img src="assets/application_gsb.png" alt="Application GSB liste des visiteurs">
  <img src="assets/application2_gsb.png" alt="Application GSB info du visiteur à supprimer">
</div>


