<h1>Veille-technologique</h1>

<div class="veille_desc" >
<h2>Une veille technologique c'est quoi ?</h2>
<p>
    Dans la vie d'un informaticien, la veille téchnologique est indispençable. Elle consiste à se renseigner
    de façon systèmatique sur les nouvelles technologies afin d'être informé des dernières avancées des secteurs
    en mutations permanente.
</p>
<h2>La veille technologique ça sert à quoi ?</h2>
<p>
    La veille technonolique à de nombreux intéré. Parmis eux on peux retrouver retrouver le renforcement
    de ces connaissance, l'adaptation au nouvelle technologique permettant de rester concurenciel vis-à-vis des
    autres développeurs.
</p>
<h2>Les outils</h2>
    <p>
        Afin de pouvoir effectuer au mieux une veille technologique, de nombreux outil sont
        mise à disposition sur internet tel que :
    </p>
    <ul>
        <li><a href="https://www.google.com/alerts?hl=fr" target="_blank">Google Alerte</a></li>
        <li><a href="https://www.netvibes.com/" target="_blank">Netvibes</a></li>
    </ul>
</div>
<h1>No code / Low code</h1>
<img src="assets/Low_code.jpg" alt="Image Low Code">
<div class="veille_No_Low">

    <h2>Introduction</h2>
    <p>
        Dans le cadre de ma formation, j'ai souhaité effectuer ma veille technologique sur le No code / Low code. <br>
        cela à pour bute de me faire découvrir différent aspect du devellopement afin d'élargire mes compétences ainsi que
        de comprendre une téchnologie grandisante.
    </p>
    <h2>Leurs définitions</h2>
    <p>
        De nos jours, nous sommes nombreux à voir des publicités vantant des applications capables de concevoir
        des sites web sans être un expert en dévellopement. <br>
        Il est possible pour une personne ayant peu de notions en matière de développement web, de
        concevoir par exemple un site responsible, au goût du jour via des sites telle que WordPress.<br><br>
        Cette tendance a aussi touché les applications métiers. Concevoir une application peut parfois être couteux
        en termes de ressources, d'autant plus que certaines entreprises éprouvent
        des difficultés à embaucher des développeurs expérimentés aptes à remplir cette mission. <br>
        Grâce au low code
        ou au no code, l'entreprise peut donc économiser des ressources et confier le développement de cette
        application à des salariés moins expérimentés.

    </p>
    <ul>
        <li> <a href="https://fr.wikipedia.org/wiki/D%C3%A9veloppement_No_code" target="_blank">Wikipedia No code</a></li>
        <li><a href="https://wiki.institutnr.org/index.php?title=Low_Code" target="_blank">Wiki Low code</a></li>
    </ul>
    <h2>Les articles</h2>
    <p>Le low code et le no code sont-ils faits pour le développement d'applications sophistiquées ? Cela dépend</p>
    <a href="https://www.zdnet.fr/actualites/le-low-code-et-le-no-code-sont-ils-faits-pour-le-developpement-d-applications-sophistiquees-cela-depend-39924843.htm" target="_blank">Pour les détails c'est ici</a>
    <p>L’avenir des plates-formes de développement Low-Code/No-Code : tendances et prédictions</p>
    <a href="https://ts2.space/fr/lavenir-des-plates-formes-de-developpement-low-code-no-code-tendances-et-predictions/">Pour les détails c'est ici</a>
    <p>No code, Low code ou Développement spécifique ? À vous de voir…</p>
    <a href="https://www.inflexsys.com/no-code-low-code/" target="_blank">Pour les détails c'est ici</a>
    <p>92 % des DSI sont à l'aise avec l'utilisation d'outils low code par les directions métiers</p>
    <a href="https://www.zdnet.fr/actualites/92-des-dsi-sont-a-l-aise-avec-l-utilisation-d-outils-low-code-par-les-directions-metiers-39924643.htm" target="_blank">Pour les détails c'est ici</a>
</div>
