<div class="HomepageStyle">
  <h1>Bienvenue sur mon portfolio !!!</h1>
  <h2>A propos de moi</h2>

  <p>
    Ancien travailleur social, je me suis découvert une passion pour l'informatique récemment.
    Dans l'optique de pouvoir approfondir mes connaissances
    Je me suis lancé dans une formation BTS Service Informatique aux Organisations
    option Solutions Logiciels aux Applications Métier (SIO SLAM) en un an au GRETA Metehor Paris.
  </p>

  <p>
    Au cours de cette année de formation, mon engouement pour le développement n'a fait que grandir et a ainsi débouché sur le souhait,
    après l'obtention de ce BTS, de poursuivre mes études en école d'ingénieur.
  </p>

  <h2>Le contenu de mon portefolio</h2>
  <p>
    Vous trouverez ici l'ensemble de mon parcours au sein de cette année de BTS.
    <br>
    Cela comprend :
  </p>
  <ul>
    <li>Mes 2 missions effectuées en formation.</li>
    <li>L'ensemble de mes activités durant le stage.</li>
    <li>Mon CV</li>
    <li>Mon projet d'avenir</li>
    <li>Ma veille technologique</li>
  </ul>
  <h2>Matériel et logiciels utilisés</h2>
  <p>Durant cette année j'ai eu l'occasion d'utiliser différents outils : </p>
  <ul>
    <li>Ordinateur : MacBook Pro M1</li>
    <li>OS : MacOS (Ventura) et Windows (Windows 11) </li>
    <li>VM : parallels</li>
    <li>IDE : Principalement jetBrain, Rider (C#), PHPStorm (HTML, CSS et PHP), WebStorm (Angular), PyCharm (Python)</li>
    <li>IDE# : Visual Studio et Visual Studio Code</li>
    <li>Autres : Postman, GitFork, OWASP Zap, MAMP, Microsoft Azure Storage Explorer </li>
  </ul>
</div>
