<div class="side-barre-page">
  <ul>
    <li><a routerLink="/home">HOME</a></li>
    <li><a routerLink="/cv">CV</a></li>
    <li><h3>STAGE</h3></li>
    <li><a routerLink="/entreprise">entreprise</a></li>
    <li><a routerLink="/missionStage">Mission</a></li>
    <li><a routerLink="/mission2Stage">Mission 2</a></li>
    <li><h3>MISSION</h3></li>
    <li><a routerLink="/mission1">mission 1</a></li>
    <li><a routerLink="/mission2">mission 2</a></li>
    <li><h3>DEV <br>PROFESSIONNELLE</h3></li>
    <li><a routerLink="/veille-technologique">Veille techno</a></li>
    <li><a routerLink="/projet">Projet <br>professionnel</a></li>
  </ul>
</div>
